---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="shortcut icon" type="image/png" href="/images/conell_logo.png" />
    <script src="https://kit.fontawesome.com/0736dad891.js" crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="5QkvsCnZXzqPbWQw9uM89kMsQBCPEiNuk3NQnjTusjY" />
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
